@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(155, 122, 122);
    font-family: Arial, Helvetica, sans-serif;
}
#s1{
    width: 100vw;
    height: 100vh;
    background-color: rgb(82, 90, 97);
    background:black url('imagens/corte.jpg') no-repeat left top;
    background-size: cover;  
}
h1{
    text-align: center;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 12vw;
}
ul{
    padding-top: 40px;
    padding-left: 10px;
    position: absolute;
    left: 5%;
    display: block;
    text-align: left;
    font-size: 100%;
}
#linkredes{
    position: absolute;
    top: 4%;
    left: 80%;
}
.menus{
    width: 50px;
    padding-top: 30%;
}
#iframe1{
    position: absolute;
    top: 58%;
    left: 3%;
    display: block;
}
